.auth-wrapper {
  display: flex;
  min-height: 100vh;
  background: #1f2430;
}

.auth-left {
  width: 38%;
  background: #e9e9e9;
  padding: 100px 80px;
  display: flex;
  border-radius: 0px 25px 25px 0px;
  flex-direction: column;
  justify-content: center;
}

.auth-left h2 {
  margin-bottom: 10px;
}

.auth-left p {
  color: #666;
  margin-bottom: 15px;
}

.auth-left label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.auth-left input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-left button {
  width: 100%;
  padding: 12px;
  background: #1f2430;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.auth-left button:hover {
  opacity: 0.9;
}

.auth-forgot {
  text-align: right;
  margin-bottom: 20px;
}

.auth-forgot a {
  font-size: 13px;
  color: #2563eb;
}

.auth-bottom-link {
  margin-top: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-bottom-link a {
  color: #2563eb;
  padding-left: 4px;
}

.password-checklist {
  font-size: 13px;
  padding-left: 16px;
  margin-bottom: 20px;
  margin-top: -10px;
}

.password-checklist li.valid {
  color: #16a34a;
}

.password-checklist li.invalid {
  color: #dc2626;
}

/* RIGHT PANEL */
.auth-right {
  width: 60%;
  background: #1f2430;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.auth-right .auth-logo {
  position: absolute;
  top: 80px;
  right: 70px;
  width: 70px;
}
.auth-right h1 {
  margin-left: 100px;
  margin-bottom: 30px;
}

.auth-right img {
  width: 80%;
  max-height: 400px;
  margin-left: 100px;
}

.auth-error {
  background: #ffe5e5;
  color: #d00;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}

@media (max-width: 1200px) {
  .auth-left {
    padding: 100px 30px;
  }
}

@media (max-width: 1024px) {
  .auth-left {
    padding: 50px 60px;
    width: 50%;
  }

  .auth-right {
    width: 50%;
  }

  .auth-right h1,
  .auth-right img {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .auth-wrapper {
    flex-direction: column;
    overflow-x: hidden;
  }

  .auth-right {
    display: none;
  }

  .auth-left {
    width: 100%;
    padding: 40px 100px;
    border-radius: 0;
    min-height: 100vh;
    justify-content: center;
  }

  .auth-left h2 {
    font-size: 22px;
    text-align: center;
  }

  .auth-left p {
    text-align: center;
  }

  .auth-bottom-link {
    flex-wrap: wrap;
    text-align: center;
    gap: 4px;
  }
}

@media (max-width: 480px) {
  .auth-left {
    padding: 20px 40px;
  }

  .auth-left input {
    padding: 10px;
    font-size: 14px;
  }

  .auth-left button {
    padding: 14px;
    font-size: 15px;
  }
  .auth-forgot {
    text-align: center;
  }
}

@media (max-width: 360px) {
  .auth-bottom-link {
    margin-top: 2px;
  }
}

/* Larger Desktop */
@media (min-width: 1400px) {
  .auth-wrapper {
    justify-content: center;
  }

  .auth-left {
    width: 520px;
    padding: 80px 60px;
    border-radius: 25px;
    border-radius: 0px 25px 25px 0px;
  }

  /* Prevent form from stretching */
  .auth-left form {
    max-width: 360px;
  }

  .auth-right {
    width: calc(100% - 520px);
    padding-left: 40px;
  }

  .auth-right h1 {
    margin-left: 0;
    font-size: 36px;
    max-width: 520px;
  }

  .auth-right img {
    width: 520px;
    max-width: 520px;
    margin-left: 0;
  }

  .auth-right .auth-logo {
    right: 40px;
    top: 40px;
    width: 60px;
  }
}
